.sidebar{
    position:fixed;
    bottom:0;
    left:0;
    top:55px;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #f9f9f9;;
    height: 74px;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(238, 236, 236);
  
}
.sidebar-link img{
    height: 28px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: roboto, Arial,sans-serif;
    font-size: 10px;
}