    .header {
        height:55px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color:rgb(219, 217, 217);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        background-color: rgb(255,255,255);
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        }
    .left-section { 
        display: flex;
        align-items: center;
    }
    .menu{
        height: 24px;
         margin-right: 20px;
         margin-left: 24px;
    }
    .logo{
        height: 20px;
    }
    
    .center-section {
        flex: 1;
        display:flex;
        align-items: center;
        margin-left: 70px;
        margin-right: 35px;
        max-width: 500px;
       
    }
    .search-box{
        flex:1;
        height:36px;
        font-size: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(219, 217, 217);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
        width: 0;

    }
    .search-box::placeholder{ 
        font-family:roboto,Arial;
        font-size: 14px;
        padding-left: 10px; 
    }
    .search-button { 
        height:39px;
        width:66px;
        background-color: rgb(240,240,240);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(219, 217, 217);
        margin-left: -1px;
        margin-right: 10px;
        cursor: pointer;
    }
    .search-icon{
        height: 25px;
        margin-top: 4px;
        border-radius: 2px;
    }
    .voice-search-button { 
        height: 39px;
        width:40px;
        border-radius:20px;
        border: none;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    .voice-search-icon{
        height: 24px;
        margin-top:4px;
    }
    .search-button, 
    .voice-search-button,
    .upload-icon-container,
    .youtube-apps-icon-container,
    .notification-icon-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-section{
        width: 180px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
    }
    .upload-icon{
        height: 24px;  
        cursor: pointer;
    }
    .youtube-apps-icon{
        height: 24px;  
        cursor: pointer;
    }
    .notification-icon{
        position: relative;
        height: 24px;  
        cursor: pointer;
    }
    .channel-icon{
        height: 32px;
        border-radius:16px ;
        margin-right: 15px;
        cursor: pointer;
    }
    .noti-count{
        background-color: rgb(200 , 0, 0);
        color: #f8f8f8;
        position: absolute;
        right: -5px;
        font-size: small;
        height:15px;
        width: 15px;
        border-radius: 7.5px;
        text-align: center;
        top: -2px;
        cursor: pointer;
    }
    .search-button:hover .tool-tip,
    .voice-search-button:hover .tool-tip,
    .upload-icon-container:hover .tool-tip,
    .youtube-apps-icon-container:hover .tool-tip,
    .notification-icon-container:hover .tool-tip{
       opacity: 1;
    }
    
     .search-button .tool-tip, 
     .voice-search-button .tool-tip,
     .upload-icon-container .tool-tip,
     .youtube-apps-icon-container .tool-tip,
     .notification-icon-container .tool-tip{
        position: absolute;
        background-color: rgb(99, 99, 99);
        color: #f8f8f8;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 2px;
        font-size: 12px;
        font-family: roboto,  Arial, sans-serif;
        font-weight: 400;
        bottom: -50px;
        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
        white-space: nowrap;
    }
     